#permissions testing

Adding the permission works completely except for the message that is sent when you do not have permission.
I also need to modify the plugin.yml.